<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Properties>
    <Property name="LOG_PATTERN" >
      %highlight{%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{cyan} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex}
    </Property>
  </Properties>
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.kaktooth.bookstore" level="debug" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
    </Logger>

    <Logger name="com.kaktooth.bookstore" level="warn" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
    </Logger>

    <Root level="info">
      <AppenderRef ref="ConsoleAppender"/>
    </Root>
  </Loggers>
</Configuration>
